language: node_js
node_js:
- 8.12.0
cache:
  directories:
  - node_modules
before_install:
- openssl aes-256-cbc -K $encrypted_63873d3cb938_key -iv $encrypted_63873d3cb938_iv
  -in secrets.tar.enc -out secrets.tar -d
- tar xvf secrets.tar
- cp ssh_config ~/.ssh/config
- cp listenfor_travis_key /tmp/listenfor_travis_key
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/listenfor_travis_key
- ssh-add /tmp/listenfor_travis_key
before_script:
- npm run build
after_success:
- rsync -vr dist/* bj-server:$DEPLOY_PATH
env:
  global:
    secure: x7qeRM+944BMBqY1qko0Uiz4G7Chb5qhBAyY25JXsDqcKYOT5fPUv0i8RjqU7EcZJUkP6zCT2Gg0CAcgExDcWoc35+fYS8gAeHvzT7pxTcKCnTNohrp51D52OTlIPbl0q8uak5//p/R4BTP0/ZKyKUqgAcfbXt/3NVTYs5/ANTLfU7kWTlSZdMVt+2VKG30t3m/3uUJZtC4pyoNPBvS1rkEEvYmGLizUBkGgmVBVFqzylCZMh/4E6DXXNSZ4glhj/FhYFCeJm7XyOFBGPemLex2y8y4hKQncCwsvT/iFU8zaN09Xx9SCFezUy0iANE/nfrN+RYJT8jc5dAQEDFLhIZeAtHbOqxW1+xh3INbn5O8XagzM/QEs9N/Seni8dUVHXyMQuLlJrrkGQr+PndeQXp+uyDpCGspbzMppkVyRTJa9dI+fjmKLGuPsqFyTmossP6AuI8fsATrDrXHCoHvVFh4udPWE/rPSp3S+zTMJZmVrlFmr6U6JiGv7gIEiLj5toAu4eWvGS5RQ3HVDx+A7+3y/o/wc3OGF1Dgm6GvK4kFi3B8ZecQeX7Y2X15/7dQLXP/mqRLrU7jqUKh7WWoMZj56e841URVY3Nl7kmGEDJOOm3c1UQdnCUw8CmaKtsOLrw2ynpfMO96pGaO33tvNSgc4OvDy6EofxLY6Kqe6HFM=
